body {font-family: Arial, Helvetica, sans-serif;}
.modal, .modal1, .modal2, .modalSB1, .modalSB2, .modalSB3, .modalH1, .modalH2, .modalH3, .modalL1, .modalL2, .modalL3, .modalG1, .modalG2, .modalG3, .modalV1, .modalV2, .modalV3{
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content, .modal-content1, .modal-content2, .modal-contentSB1, .modal-contentSB2, .modal-contentSB3, .modal-contentH1, .modal-contentH2, .modal-contentH3, .modal-contentL1, .modal-contentL2, .modal-contentL3, 
.modal-contentG1, .modal-contentG2, .modal-contentG3,.modal-contentV1, .modal-contentV2, .modal-contentV3 {
    background-color: #dff7f0;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close , .close1, .close2, .closeSB1, .closeSB2, .closeSB3, .closeH1, .closeH2, .closeH3, .closeL1, .closeL2, .closeL3, 
  .closeG1, .closeG2, .closeG3, .closeV1, .closeV2, .closeV3{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover, .close1:hover, .close2:hover, .closeSB1:hover,.closeSB2:hover,.closeSB3:hover,.closeH1:hover,.closeH2:hover,.closeH3:hover,.closeL1:hover,.closeL2:hover,.closeL3:hover,
  .closeG1:hover,.closeG2:hover,.closeG3:hover,.closeV1:hover,.closeV2:hover,.closeV3:hover,
  .close:focus, .close1:focus, .close2:focus ,.closeSB1:focus ,.closeSB2:focus,.closeSB3:focus,.closeH1:focus,.closeH2:focus,.closeH3:focus,.closeL1:focus,.closeL2:focus,.closeL3:focus,
  .closeG1:focus,.closeG2:focus,.closeG3:focus, .closeV1:focus,.closeV2:focus,.closeV3:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .text{
      font-size: 50px;
      color: black;
  }
  
  .img{
      width: 150px;
      left: 150px;
      
  }